
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2><%=@story.title%></h2>
<p><%=@story.story%></p>
<h4>Branch of Philosophy: <%=Branch.find_by(id: @story.branch_id).name%></h4>
<h5>Author: <%=User.find_by(id: @story.user_id).username.capitalize%></h5>
</br>
<a href="/experiments/<%=@story.id%>/edit">Edit Story</a>
</br>
</br>
<form method="post" action="/experiments/<%=@story.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>

</br>
<!-- <p><a href="/users/logout">Log Out</a></p> -->
